<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brain Tumor Determination</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <img class="header_img" src="/templates/Brain.png" alt="Brain">
        <a class="header-logo" href="#">Brain Tumor Determination</a>
    </header>

    <div class="main">    
        <h2> AIが送信された脳の画像の判別を実施します</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <img class="footer_img" src="/templates/Brain.png" alt="Brain">
        <small>&copy; 2023 Takuto</small>   
    </footer>
</body>
</html>